html {
    font-family: "Unica One", sans-serif;
    font-size: 14px;
}
body {
    background-image: url(/images/old-dark-scary-corridor-04-with-ghost-01.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.big-container {
    margin-top: 20px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2 {
    text-align: center;
    font-weight: lighter;
}
h1 {
    font-family: "Special Elite", system-ui;
    font-size: 3rem;
    line-height: 56px;
}
h2 {
    margin-top: -20px;
    line-height: 34px;
    font-family: "Delius Unicase", cursive;
    font-size: 1.2rem;
}
.input {
    margin-top: 30px;
}
#username, #password {
    background-color: ghostwhite; opacity: 50%;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;
    width: 70vw;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
#forgot {
    margin: 0;
}
#forgot:hover {
    cursor: pointer;
    text-decoration: underline;
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between
}
#log-in, #new-victim {
    background-color: #000;
    color: ghostwhite;
    width: 28vw;
    margin-bottom: 40px;
}
#log-in:hover, #new-victim:hover,
#google:hover, #facebook:hover {
    cursor: pointer;
    opacity: 60%;
    box-shadow: 0 0 5px 5px lightskyblue;
}
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}
#google {
    background-color: #4B0101;
}
#facebook {
    background-color: #12124E;
}
#google, #facebook {
    color: ghostwhite;
}
#username, #password, #log-in,
#new-victim, #google, #facebook {
    border: none;
    font-family: "Unica One", sans-serif;
    font-size: 1.4rem;
    border-radius: 6px;
    height: 6vh;
}
footer {
    font-family: "New Tegomin", serif;
    font-size: 1.5rem;
}